.subscribe-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    @media (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap; 
            justify-content: space-evenly;           
    }
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 460px;
    background-repeat: no-repeat;
    background-size: contain;
    @media (min-width: 1280px) {
        width: 350px;
        height: 580px;
    }
}

.subsribe-description-holster {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 15px;
    height: 240px;
    width: 240px;
    align-items: center;
    @media (min-width: 1280px) {
        margin-bottom: 65px;
        height: 230px;
        width: 300px;
    }
}

.subsribe-description {
    text-transform: none;
    font-size: 11px;
}

.bg-free {
    background-image: url("/images/subscribe_1.png");
}

.bg-standart {
    background-image: url("/images/subscribe_2.png");
}

.bg-premium {
    background-image: url("/images/subscribe_3.png");
}
