.mobile-application-container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.mobile-application-text-container {
    width: 280px;
    color: $palette-is-not-active-link;
    @media (min-width: 540px) {
        width: 400px;
    }
    @media (min-width: 768px) {
        width: 340px;
    }
    @media (min-width: 1280px) {
        width: 570px;
    }
}
