.header-container {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 1200px;
    min-height: 170px;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    @media (min-width: 1024px) {
        min-height: 30px;
        width: 900px;
        flex-direction: row;
        align-items: center;
    }
}

.order-desk {
    @media (min-width: 1024px) {
        order: 0;
    } 
}

.site-logo-container {
    width: 83px;
}

.site-logo-order-sm {
    @media (max-width: 1024px) {
        order: 1;
    } 
}

.search-form-order-sm {
    @media (max-width: 1024px) {
        order: 2;
    } 
}

.site-navigation-order-sm {
    @media (max-width: 1024px) {
        order: 3;
    } 
}

.h-mob20-desk17 {
    height: 20px;
    @media (min-width: 1024px) {
        height: 17px;
    }
}

.site-navigation-container {
    @media (max-width: 1024px) {
        margin: 0;
        padding: 0;
    }

    flex-direction: column;
    @media (min-width: 1024px) {
        margin-left: 20px;
        flex-direction: row;
        min-width: 350px;
        justify-content: space-evenly;
     }
}

.site-navigation-link {
    color: $palette-is-not-active-link;
    line-height: 150%;
    &:hover {
        color: $palette-is-active-link;
    }
}

.search-form-container {
    @media (min-width: 1024px) {
        margin-left: auto;
    }
    width: 280px;
}

.search-input-styles {
    padding-left: 10px;  
    background-color: $palette-search-form-background;
    border-radius: 50px;
    border: 0px solid $palette-text-primary;
}