@import "variables";
@import "layout-styles";
@import "fonts";
@import "header";
@import "mainpageaccess";
@import "subscribe";
@import "latestnews";
@import "mobileapplication";
@import "musicianpreview";
@import "populartracks";
@import "diskography";
@import "similiarartists";
@import "footer";

body {
    margin: 0;
    padding: 0;

    background-color: $palette-background-primary;
    font-family: $font--famaly-primary;
    color: $palette-text-primary;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.wrapper {
    margin: auto;
    @media (max-width: 320px) {
        padding: 10px;
    }
    @media (min-width: 320px) {
        width: 280px;
    }
    @media (min-width: 375px) {
        width: 330px;
    }
    @media (min-width: 425px) {
        width: 87%;
    }
    @media (min-width: 768px) {
        width: 672px;
    }
    @media (min-width: 1024px) {
        width: 1000px;
    }
    @media (min-width: 1280px) {
        width: 1200px;
    }
}

.pt100 {
   padding-top: 100px;
}

.pb100 {
    padding-bottom: 100px;
}

.pt80 {
    padding-top: 80px;
}

.pt50 {
    padding-top: 50px;
}

.pt25 {
    padding-top: 25px; 
}

.pb50 {
    padding-bottom: 50px;
}

.p-m-0 {
    padding: 0;
    margin: 0;
}

.mb50 {
    margin-bottom: 50px;
}

.mb40 {
    margin-bottom: 40px;
}

.m-auto {
    margin: auto;
}

.bg-layout-cover-norepeat-position-center {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.bg-main-page {
    background-image: url("/images/banner.png");
}

.bg-morten-harket {
    background-image: url("/images/Morten_Harket.png");
    @media (max-width: 320px) {
        background-position: 75%;
    }
    @media (max-width: 375px) {
        background-position: 70%;
    }
    @media (max-width: 425px) {
        background-position: 60%;
    }
    @media (max-width: 425px) {
        background-position: 65%;
    }
    @media (min-width: 425px) and (max-width: 1024px) {
        background-position: 70%;
    }
}

.display-flex {
    display: flex;
}

.f-direction-column {
    flex-direction: column;
}

.f-content-sb {
    justify-content: space-between;
}

.f-content-start {
    justify-content: flex-start;
}

.f-align-center {
    align-items: center;
}

.list-style-none {
    list-style-type: none;
}

.txt-decor-none {
    text-decoration: none;
}

.txt-center {
    text-align: center;
}

.txt-start {
    text-align: start;
}
