input[type="text"]::-webkit-input-placeholder {
    color: $palette-text-primary;
}

.main-page-access-container {

    @media (max-width: 425px) {
        padding-top: 70px;
        padding-bottom: 50px;
    }
    @media (max-width: 768px) {
        padding-top: 130px;
        padding-bottom: 100px;
    }
    @media (max-width: 1024px) {
        padding-top: 170px;
        padding-bottom: 200px;
    }
    @media (min-width: 1024px) {
        padding-top: 230px;
        padding-bottom: 250px;
    }
}

.b-main-page-acces-form-container {
    max-width: 570px;
    width: 100%;
    flex-wrap: wrap;
}

.main-page-acces-inputs {
    margin-bottom: 20px;
    color: $palette-text-primary;
    padding: 15px;
    height: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    border-radius: 3px;
    @media (min-width: 768px) {
        margin-bottom: 0px;
        width: 45%;
    }
}

.main-page-acces-form-button {
    height: 40px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid transparent;
    color: $palette-text-primary;
    text-transform: uppercase;
    background-color: $palette-button-access;
    @media (min-width: 768px) {
        margin-top: 20px;
    }
}