.mobile-application-container {
    flex-direction: column-reverse;
    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.mobile-application-text-container {
    width: 280px;
    color: $palette-is-not-active-link;
    @media (min-width: 768px) {
        width: 340px;
    }
    @media (min-width: 1280px) {
        width: 570px;
    }
}

.mobile-application-button {
    margin-top: 20px;
    padding: 15px;
    background-color: $palette-button-download-app;
    border-radius: 50px;
    color: $palette-text-primary;
    border: 1px solid $palette-button-download-app;
    width: 280px;
    @media (min-width: 768px) {
        width: 200px;
    }
    @media (min-width: 1024px) {
        width: 130px;
    }
}