.fsz11 {
  font-size: 11px;
}

.fsz14 {
  font-size: 14px;
}

.fsz16 {
  font-size: 16px;
}

.lh200 {
  line-height: 200%;
}

.fsz-20-29-38 {
  font-size: 20px;
}
@media (min-width: 768px) {
  .fsz-20-29-38 {
    font-size: 29px;
  }
}
@media (min-width: 1024px) {
  .fsz-20-29-38 {
    font-size: 38px;
  }
}

.fsz-30-60 {
  font-size: 30px;
}
@media (min-width: 1280px) {
  .fsz-30-60 {
    font-size: 60px;
  }
}

.fsz-18-30 {
  font-size: 18px;
}
@media (min-width: 1280px) {
  .fsz-18-30 {
    font-size: 30px;
  }
}

.fsz-12-18 {
  font-size: 12px;
}
@media (min-width: 768px) {
  .fsz-12-18 {
    font-size: 18px;
  }
}

.fsz-14-18 {
  font-size: 14px;
}
@media (min-width: 1024px) {
  .fsz-14-18 {
    font-size: 18px;
  }
}

.fsz-16-24 {
  font-size: 16;
}
@media (min-width: 1024px) {
  .fsz-16-24 {
    font-size: 24px;
  }
}

.fsz-12-22 {
  font-size: 12px;
}
@media (min-width: 1024px) {
  .fsz-12-22 {
    font-size: 22px;
  }
}

.fsz-12-24 {
  font-size: 12px;
}
@media (min-width: 1024px) {
  .fsz-12-24 {
    font-size: 24px;
  }
}

.fsz-20-38 {
  font-size: 20px;
}
@media (min-width: 1024px) {
  .fsz-20-38 {
    font-size: 38px;
  }
}

.fsz30 {
  font-size: 30px;
}

.fsz60 {
  font-size: 60px;
}

.txt-up {
  text-transform: uppercase;
}

.txt-low {
  text-transform: lowercase;
}

.header-container {
  margin: auto;
  max-width: 1200px;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
@media (min-width: 1024px) {
  .header-container {
    min-height: 30px;
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
}

.site-logo-container {
  width: 83px;
}

.site-logo-order {
  order: 1;
}
@media (min-width: 1024px) {
  .site-logo-order {
    order: 0;
  }
}

.h-20-17 {
  height: 20px;
}
@media (min-width: 1024px) {
  .h-20-17 {
    height: 17px;
  }
}

.site-navigation-order {
  order: 3;
}
@media (min-width: 1024px) {
  .site-navigation-order {
    order: 0;
  }
}

.site-navigation-container {
  flex-direction: column;
}
@media (max-width: 1024px) {
  .site-navigation-container {
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1024px) {
  .site-navigation-container {
    margin-left: 20px;
    flex-direction: row;
    min-width: 350px;
    justify-content: space-evenly;
  }
}

.site-navigation-link {
  color: #808080;
  line-height: 150%;
}
.site-navigation-link:hover {
  color: #FFFFFF;
}

.search-form-container {
  width: 280px;
}

.search-form-order {
  order: 2;
}
@media (min-width: 1024px) {
  .search-form-order {
    order: 0;
    margin-left: auto;
  }
}

.search-input-styles {
  padding-left: 10px;
  background-color: #3C3B3D;
  border-radius: 50px;
  border: 0px solid #FFFFFF;
}

input[type=text]::-webkit-input-placeholder {
  color: #FFFFFF;
}

.b-main-page-acces-form-container {
  max-width: 570px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
}

.main-page-acces-inputs {
  margin-bottom: 20px;
  color: #FFFFFF;
  padding: 15px;
  height: 40px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .main-page-acces-inputs {
    margin-bottom: 0px;
    width: 45%;
  }
}

.main-page-acces-form-button {
  height: 40px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid transparent;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #34C176;
}
@media (min-width: 768px) {
  .main-page-acces-form-button {
    margin-top: 20px;
  }
}

.subscribe-cards-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .subscribe-cards-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.card-container {
  width: 280px;
  height: 460px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (min-width: 1280px) {
  .card-container {
    width: 350px;
    height: 580px;
  }
}

.subsribe-description-holster {
  margin-top: auto;
  margin-bottom: 15px;
  height: 240px;
  width: 240px;
  align-items: center;
}
@media (min-width: 1280px) {
  .subsribe-description-holster {
    margin-bottom: 65px;
    height: 230px;
    width: 300px;
  }
}

.bg-free {
  background-image: url("/images/subscribe_1.png");
}

.bg-standart {
  background-image: url("/images/subscribe_2.png");
}

.bg-premium {
  background-image: url("/images/subscribe_3.png");
}

.subscribe-btn {
  width: 100%;
  padding: 21px;
  color: #FFFFFF;
  border: 4px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
}

.news-aricle-container {
  margin-top: 50px;
  flex-direction: column;
}
@media (min-width: 768px) {
  .news-aricle-container {
    flex-direction: row;
  }
}

.news-txt-container {
  width: 100%;
  justify-content: space-evenly;
}
@media (min-width: 768px) {
  .news-txt-container {
    margin: 20px;
    width: 60%;
  }
}

@media (max-width: 768px) {
  .osborn-order {
    flex-direction: column-reverse;
  }
}

.img-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-color-secondary {
  color: #8C8C8C;
}

.releas-data-container {
  width: 100%;
}
@media (min-width: 768px) {
  .releas-data-container {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .releas-data-container {
    width: 35%;
  }
}

.h25-19 {
  height: 19;
}
@media (min-width: 1024px) {
  .h25-19 {
    height: 25px;
  }
}

.color-yellow {
  color: #F89202;
}

.text-grey {
  color: #3C3B3D;
}

.news-button {
  width: 100%;
  padding: 10px 40px;
  border: 4px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  color: #3C3B3D;
}
@media (min-width: 768px) {
  .news-button {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .news-button {
    width: 35%;
  }
}

.mobile-application-container {
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .mobile-application-container {
    flex-direction: row;
  }
}

.mobile-application-text-container {
  width: 100%;
  color: #808080;
}
@media (min-width: 768px) {
  .mobile-application-text-container {
    width: 45%;
  }
}

.mobile-application-button {
  margin-top: 20px;
  padding: 15px;
  background-color: #FF4157;
  border-radius: 50px;
  color: #FFFFFF;
  border: 1px solid #FF4157;
  width: 100%;
}
@media (min-width: 768px) {
  .mobile-application-button {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .mobile-application-button {
    width: 35%;
  }
}

.musician-container {
  max-width: 600px;
  min-height: 300px;
}

.musian-buttons-container {
  margin-top: 40px;
  min-height: 150px;
  width: 100%;
  flex-wrap: wrap;
}

.musian-button {
  height: 50px;
  width: 100%;
}
@media (min-width: 425px) {
  .musian-button {
    width: 200px;
    margin-right: 35px;
  }
}

.h-20-16 {
  height: 20px;
}
@media (min-width: 1024px) {
  .h-20-16 {
    height: 16px;
  }
}

.clr-btn-mix {
  background-color: #5328a1;
}

.clr-btn-select {
  background-color: #95390c;
}

.ml15 {
  margin-left: 15px;
}

.popular-tracks-sec-container {
  margin: 0;
  padding: 0;
  max-width: 600px;
}
@media (min-width: 768px) {
  .popular-tracks-sec-container {
    min-width: 45%;
  }
}

.mr15 {
  margin-right: 15px;
}

.mb25 {
  margin-bottom: 25px;
}

.popular-tracks-sec {
  min-width: 280px;
  max-width: 600px;
}

.h-50-55 {
  height: 50px;
  width: 50px;
}
@media (min-width: 768px) {
  .h-50-55 {
    height: 55px;
  }
}

.fsz14 {
  font-size: 14px;
}

.fsz12 {
  font-size: 12px;
}

.color-white {
  color: #FFFFFF;
}

.color-grey {
  color: #808080;
}

.fw-bold {
  font-weight: bold;
}

.popular-tracks-cover {
  padding-top: 50px;
  width: 100%;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .popular-tracks-cover {
    min-width: 45%;
  }
}

.b-diskography__header--font-size {
  font-size: 20px;
  text-transform: uppercase;
}

.diskography-container {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 1280px) {
  .diskography-container {
    justify-content: initial;
  }
}

.fsz-16-20 {
  font-size: 16px;
}
@media (min-width: 1024px) {
  .fsz-16-20 {
    font-size: 20px;
  }
}

.diskography-album-container {
  height: 250px;
  width: 130px;
  align-content: stretch;
  line-height: 150%;
}
@media (min-width: 425px) {
  .diskography-album-container {
    height: 300px;
    width: 180px;
  }
}
@media (min-width: 768px) {
  .diskography-album-container {
    height: 340px;
    width: 230px;
  }
}
@media (min-width: 1024px) {
  .diskography-album-container {
    height: 380px;
    width: 300px;
  }
}

.album-container {
  height: 130px;
  width: 130px;
  align-items: flex-end;
}
@media (min-width: 768px) {
  .album-container {
    height: 200px;
    width: 200px;
  }
}
@media (min-width: 1280px) {
  .album-container {
    height: 250px;
    width: 250px;
  }
}
.album-brother-album {
  background: url("../images/Brother.png");
  background-size: cover;
}
.album-out-of-my-hands-album {
  background: url("../images/Out_of_My_Hands.png");
  background-size: cover;
}
.album-letter-from-egypt-album {
  background: url("../images/Letter_from_Egypt.png");
}
.album-vogts-villa-album {
  background: url("../images/Vogts_Villa.png");
  background-size: cover;
}
.album-wild-seed-album {
  background: url("../images/Wild_Seed.png");
  background-size: cover;
}
.album-poetenes-evangelium-album {
  background: url("../images/Poetenes Evangelium.png");
  background-size: cover;
}

.button-albums {
  margin-left: 5px;
  margin-bottom: 5px;
  height: 17px;
}
@media (min-width: 768px) {
  .button-albums {
    margin-left: 15px;
    margin-bottom: 10px;
    height: 34px;
  }
}

.b-similiar-artists-container {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  flex-wrap: wrap;
}

.similiar-artists-styles {
  height: 200px;
  width: 120px;
}
@media (min-width: 768px) {
  .similiar-artists-styles {
    height: 250px;
    width: 190px;
  }
}
@media (min-width: 1280px) {
  .similiar-artists-styles {
    height: 310px;
    width: 250px;
  }
}

.artists-avatar-styles {
  height: 130px;
  width: 130px;
}
.artists-avatar-styles > img {
  height: 100%;
  width: 100%;
  background-size: cover;
}
@media (min-width: 768px) {
  .artists-avatar-styles {
    height: 190px;
    width: 190px;
  }
}
@media (min-width: 1280px) {
  .artists-avatar-styles {
    height: 250px;
    width: 250px;
  }
}

footer {
  background-image: linear-gradient(89.02deg, #5328A1 32.83%, #95390C 81.56%);
}

.footer-container {
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
  }
}

.footer-blocks-styles {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
.footer-blocks-styles > :first-child {
  margin-bottom: 30px;
  font-weight: bold;
}

.footer-link-styles {
  line-height: 20px;
  color: #CACACA;
}

.social-container {
  width: 50%;
}
@media (min-width: 768px) {
  .social-container {
    width: 100%;
  }
}

.footer-white-line-styles {
  padding-top: 50px;
  border-bottom: 1px solid #EEEEEE;
}

.footer-navigation-container {
  margin: 0;
  padding: 0;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer-navigation-container {
    width: 535px;
    flex-direction: row;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #08020D;
  font-family: Roboto, sans-serif;
  color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  margin: auto;
  margin: auto;
  max-width: 1200px;
}
@media (max-width: 320px) {
  .wrapper {
    padding: 10px;
  }
}
@media (min-width: 320px) {
  .wrapper {
    width: 87%;
  }
}
@media (min-width: 1280px) {
  .wrapper {
    width: 100%;
  }
}

.pt100 {
  padding-top: 100px;
}

.pb100 {
  padding-bottom: 100px;
}

.pt80 {
  padding-top: 80px;
}

.pt50 {
  padding-top: 50px;
}

.pb50 {
  padding-bottom: 50px;
}

.p-m-0 {
  padding: 0;
  margin: 0;
}

.mb50 {
  margin-bottom: 50px;
}

.mb40 {
  margin-bottom: 40px;
}

.m-auto {
  margin: auto;
}

.bg-layout-cover-norepeat-position-center {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-main-page {
  background-image: url("/images/banner.png");
}

.bg-morten-harket {
  background-image: url("/images/Morten_Harket.png");
}
@media (max-width: 320px) {
  .bg-morten-harket {
    background-position: 75%;
  }
}
@media (max-width: 375px) {
  .bg-morten-harket {
    background-position: 70%;
  }
}
@media (max-width: 425px) {
  .bg-morten-harket {
    background-position: 60%;
  }
}
@media (max-width: 425px) {
  .bg-morten-harket {
    background-position: 65%;
  }
}
@media (min-width: 425px) and (max-width: 1024px) {
  .bg-morten-harket {
    background-position: 70%;
  }
}

.display-flex {
  display: flex;
}

.f-direction-column {
  flex-direction: column;
}

.f-content-sb {
  justify-content: space-between;
}

.f-content-start {
  justify-content: flex-start;
}

.f-align-center {
  align-items: center;
}

.list-style-none {
  list-style-type: none;
}

.txt-decor-none {
  text-decoration: none;
}

.txt-center {
  text-align: center;
}

.txt-start {
  text-align: start;
}

/*# sourceMappingURL=style.css.map */
