body {
  background-color: #08020D;
  font-family: Roboto, sans-serif;
  color: #FFFFFF;
  margin: 0;
}

.visually-hidden {
  display: none;
}

input[type=text]::-webkit-input-placeholder {
  color: #FFFFFF;
}

.holster {
  max-width: 1200px;
  margin: auto;
}

.holster--margin-top-100 {
  margin-top: 100px;
}

.background-image {
  background: url("/images/banner.png") center no-repeat;
  background-size: cover;
}

.c-header {
  position: absolute;
  width: 1200px;
  display: flex;
  align-items: center;
  padding: 10px;
  background: transparent;
}

.b-site-logo--d-flex {
  display: flex;
  align-items: center;
}
.b-site-logo--padding-5px {
  margin-right: 5px;
}
.b-site-logo--text-xxs {
  font-size: 11px;
}
.b-site-logo--text-uppercase {
  text-transform: uppercase;
}

.b-site-links__links-container--inline-navigation {
  width: 450px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 11px;
}

.b-site-links__link--link {
  color: #808080;
  text-decoration: none;
}
.b-site-links__link--link:hover {
  color: #FFFFFF;
}

.b-search-form {
  margin-left: auto;
}
.b-search-form--grey-br-50 {
  color: #FFFFFF;
  padding-left: 15px;
  width: 280px;
  background-color: #3C3B3D;
  border-radius: 50px;
  border: 0px solid;
}

.b-main-page-access--flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.b-main-page-access__text--center-uppercase {
  text-align: center;
  text-transform: uppercase;
}
.b-main-page-access__text--center-uppercase--xxl {
  font-size: 60px;
  line-height: 130%;
}

.b-main-page-acces-form--flex-two-column {
  width: 570px;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
}

.b-main-page-acces-form__name--inputs {
  color: #FFFFFF;
  padding: 15px;
  height: 40px;
  width: 45%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  border-radius: 3px;
}

.b-main-page-acces-form__email--inputs {
  color: #FFFFFF;
  padding: 15px;
  height: 40px;
  width: 45%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  border-radius: 3px;
}

.b-main-page-acces-form__button--form-button {
  margin-top: 20px;
  height: 40px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid transparent;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #34C176;
}

.b-subscribe__types--text-uppercase-center {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.b-subscribe__container--flex-three-rows {
  margin: auto;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.b-subscribe__free {
  background-image: url("/images/subscribe_1.png");
}
.b-subscribe__standart {
  background-image: url("/images/subscribe_2.png");
}
.b-subscribe__premium {
  background-image: url("/images/subscribe_3.png");
}
.b-subscribe__free--card, .b-subscribe__standart--card, .b-subscribe__premium--card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  height: 580px;
  width: 30%;
  background-repeat: round;
  background-size: cover;
  text-transform: uppercase;
}
.b-subscribe__button--border-text-white {
  width: 90%;
  text-align: center;
  padding: 15px;
  border: 4px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  color: #FFFFFF;
  text-decoration: none;
}
.b-subscribe__container--text-xxl {
  margin-bottom: 0;
  font-size: 60px;
}
.b-subscribe__container--text-l {
  font-size: 28px;
}
.b-subscribe__container--text-xxs {
  width: 95%;
  font-size: 11px;
  text-transform: lowercase;
  text-align: center;
}

.b-subscribe__info--padding-text-center {
  font-size: 20px;
  text-align: center;
}

.b-news__header--text-uppercase-center {
  text-transform: uppercase;
  text-align: center;
}

.c-news--flex-two-columns {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.c-news--width45-flex-column {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.c-news--text-color-secondary {
  color: #8C8C8C;
  font-size: 14px;
  line-height: 150%;
}

.b-news-releas-data--flex {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.b-news-releas-data__music-box--yellow-uppercase {
  text-transform: uppercase;
  color: #F89202;
}

.b-news-releas-data--text-grey {
  color: #3C3B3D;
}

.b-news__button--uppercase-white {
  width: 35%;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 40px;
  border: 4px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  color: #3C3B3D;
  text-decoration: none;
}

.b-mobile-application__header--center-uppercase {
  text-transform: uppercase;
  text-align: center;
}

.c-mobile-application--flex-two-columns {
  display: flex;
  align-items: center;
}

.b-mobile-application__text--width50 {
  width: 50%;
  color: #808080;
}

.b-mobile-application__button--malina {
  width: 30%;
  padding: 15px;
  background-color: #FF4157;
  border-radius: 50px;
  color: #FFFFFF;
  border: 1px solid #FF4157;
}

.b-mobile-application__img--center {
  width: 20%;
  margin: auto;
}

footer {
  background-image: linear-gradient(89.02deg, #5328A1 32.83%, #95390C 81.56%);
}

.b-footer--flex-four-columns {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.b-footer--list-style-margin-first-child {
  padding-left: 0px;
  list-style-type: none;
}
.b-footer--list-style-margin-first-child > :first-child {
  margin-bottom: 15px;
  font-weight: bold;
}

.b-about__item--text-no-decoration-text-secondary {
  line-height: 150%;
  color: #CACACA;
  text-decoration: none;
  font-size: 14px;
}

.b-social__wrapper--flex {
  display: flex;
  justify-content: space-between;
}

.b-footer-navigation--flex {
  padding: 0;
  margin: 0;
  width: 55%;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.b-footer--white-line {
  padding-top: 50px;
  border-bottom: 1px solid #EEEEEE;
}

.b-support__item--link {
  text-decoration: none;
  color: #CACACA;
}

@media (max-width: 1280px) {
  .holster {
    width: 80%;
  }

  .c-header {
    margin-top: 20px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
}
@media (max-width: 1280px) and (min-width: 1025px) and (max-width: 1280px) {
  .c-header {
    width: 80%;
    flex-direction: row;
    align-items: center;
  }
}
@media (max-width: 1280px) {
  .b-site-logo {
    order: 1;
  }
}
@media (max-width: 1280px) and (min-width: 1025px) and (max-width: 1280px) {
  .b-site-logo {
    order: 0;
  }
}
@media (max-width: 1280px) {
  .b-search-form {
    margin: 0;
    order: 2;
    width: auto;
  }
}
@media (max-width: 1280px) and (min-width: 1025px) and (max-width: 1280px) {
  .b-search-form {
    order: 0;
    margin-left: auto;
  }
}
@media (max-width: 1280px) {
  .b-search-form--grey-br-50 {
    width: auto;
  }
}
@media (max-width: 1280px) {
  .b-site-navigation {
    order: 3;
  }
}
@media (max-width: 1280px) and (min-width: 1025px) and (max-width: 1280px) {
  .b-site-navigation {
    order: 0;
  }
}
@media (max-width: 1280px) {
  .b-site-links__links-container {
    padding: 0;
    flex-direction: column;
    line-height: 200%;
  }
}
@media (max-width: 1280px) and (min-width: 1025px) and (max-width: 1280px) {
  .b-site-links__links-container {
    flex-direction: row;
  }
}
@media (max-width: 1280px) and (min-width: 425px) {
  .b-main-page-access__text--center-uppercase {
    font-size: 140%;
  }
  .b-main-page-access__text--xxl {
    font-size: 200%;
  }
}
@media (max-width: 1280px) and (max-width: 425px) {
  .b-main-page-access__text--center-uppercase {
    font-size: 140%;
  }
  .b-main-page-access__text--xxl {
    font-size: 200%;
  }
}
@media (max-width: 1280px) and (max-width: 425px) and (max-width: 320px) {
  .b-main-page-access__text--center-uppercase {
    font-size: 110%;
  }
  .b-main-page-access__text--xxl {
    font-size: 200%;
  }
}
@media (max-width: 1280px) {
  .b-main-page-access--flex-center {
    font-size: 60%;
    text-align: center;
    padding-bottom: 40px;
  }
}
@media (max-width: 1280px) {
  .b-main-page-acces-form--flex-two-column {
    max-width: 90%;
    margin: 20px;
  }
}
@media (max-width: 1280px) {
  .b-main-page-acces-form__name--inputs {
    margin-bottom: 30px;
    width: 100%;
  }
}
@media (max-width: 1280px) and (min-width: 768px) {
  .b-main-page-acces-form__name--inputs {
    width: 45%;
  }
}
@media (max-width: 1280px) {
  .b-main-page-acces-form__email--inputs {
    margin-bottom: 10px;
    width: 100%;
  }
}
@media (max-width: 1280px) and (min-width: 768px) {
  .b-main-page-acces-form__email--inputs {
    width: 45%;
  }
}
@media (max-width: 1280px) {
  .b-subscribe__container--flex-three-rows {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1280px) and (min-width: 768px) {
  .b-subscribe__container--flex-three-rows {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1280px) {
  .b-subscribe__free--card, .b-subscribe__standart--card, .b-subscribe__premium--card {
    margin-bottom: 50px;
    width: 280px;
  }
}
@media (max-width: 1280px) and (min-width: 768px) {
  .b-subscribe__free--card, .b-subscribe__standart--card, .b-subscribe__premium--card {
    margin: 2%;
    height: 500px;
    margin-bottom: 25px;
  }
}
@media (max-width: 1280px) and (min-width: 1024px) {
  .b-subscribe__free--card, .b-subscribe__standart--card, .b-subscribe__premium--card {
    width: 240px;
  }
}
@media (max-width: 1280px) {
  .b-subscribe__info--padding-text-center {
    font-size: 11px;
  }
}
@media (max-width: 1280px) {
  .c-news--flex-two-columns {
    flex-direction: column;
  }
}
@media (max-width: 1280px) and (min-width: 768px) {
  .c-news--flex-two-columns {
    flex-direction: row;
    align-items: stretch;
  }
}
@media (max-width: 1280px) {
  .c-news--width45-flex-column {
    width: 100%;
  }
}
@media (max-width: 1280px) and (min-width: 768px) {
  .c-news--width45-flex-column {
    margin: 20px;
    width: 60%;
  }
}
@media (max-width: 1280px) {
  .b-eminem__img--width45 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 1280px) {
  .b-news-releas-data--flex {
    width: 100%;
  }
}
@media (max-width: 1280px) and (min-width: 768px) {
  .b-news-releas-data--flex {
    width: 90%;
  }
}
@media (max-width: 1280px) {
  .b-news__button--uppercase-white {
    width: 100%;
  }
}
@media (max-width: 1280px) and (min-width: 768px) {
  .b-news__button--uppercase-white {
    width: 90%;
  }
}
@media (max-width: 1280px) and (min-width: 1024px) {
  .b-news__button--uppercase-white {
    width: 60%;
  }
}
@media (max-width: 1280px) {
  .c-news--flex-two-columns-osborn {
    flex-direction: column-reverse;
  }
}
@media (max-width: 1280px) and (min-width: 768px) {
  .c-news--flex-two-columns-osborn {
    flex-direction: row;
  }
}
@media (max-width: 1280px) {
  .b-osborn__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 1280px) {
  .b-mobile-application__header--center-uppercase {
    font-size: 16px;
  }
}
@media (max-width: 1280px) {
  .c-mobile-application--flex-two-columns {
    flex-direction: column-reverse;
  }
}
@media (max-width: 1280px) and (min-width: 768px) {
  .c-mobile-application--flex-two-columns {
    flex-direction: row;
  }
}
@media (max-width: 1280px) {
  .b-mobile-application__text--width50 {
    width: 100%;
    font-size: 14px;
  }
}
@media (max-width: 1280px) and (min-width: 768px) {
  .b-mobile-application__text--width50 {
    width: 45%;
  }
}
@media (max-width: 1280px) {
  .b-mobile-application__button--malina {
    margin-top: 20px;
    width: 100%;
  }
}
@media (max-width: 1280px) and (min-width: 768px) {
  .b-mobile-application__button--malina {
    width: 50%;
  }
}
@media (max-width: 1280px) {
  .b-mobile-application__img--center img {
    position: relative;
    top: 20px;
    left: -120px;
    margin: 0;
    height: 90%;
    object-fit: cover;
  }
}
@media (max-width: 1280px) and (min-width: 768px) {
  .b-mobile-application__img--center img {
    position: static;
    width: 180%;
    height: 180%;
  }
}
@media (max-width: 1280px) {
  .b-footer--flex-four-columns {
    flex-direction: column;
  }
}
@media (max-width: 1280px) and (min-width: 768px) {
  .b-footer--flex-four-columns {
    flex-direction: row;
  }
}
@media (max-width: 1280px) {
  .b-social__wrapper--flex {
    width: 50%;
  }
}
@media (max-width: 1280px) and (min-width: 768px) {
  .b-social__wrapper--flex {
    width: 100%;
  }
}
@media (max-width: 1280px) {
  .b-footer-navigation--flex {
    flex-direction: column;
    line-height: 200%;
  }
}
@media (max-width: 1280px) and (min-width: 768px) {
  .b-footer-navigation--flex {
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
